body {
  font-family: New Gulim, 'Times New Roman', Times, serif;
  background-color: azure;
}

.container {
  /*どんな端末でもこの幅が最大*/
  max-width: 400px;
}

input[type=text],
/*type=textに注目しているときに反映*/
input[type=text]:focus {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

#button {
  margin: 1%;
}

#form, #wordList, .search {
  text-align: center;
}

#search {
  width: 260pt;
}

ul {
  list-style: none;
  width: 100%;
}
